/Slide1.1/quatro_operacoes/nbproject/private/
/Slide1.1/quatro_operacoes/build/
/Slide1.1/media_aritmetica/nbproject/private/
/Slide1.1/media_aritmetica/build/
/Slide1.1/idade_em_dias/nbproject/private/
/Slide1.1/idade_em_dias/build/
/Slide1.1/salarios_minimos/nbproject/private/
/Slide1.2/JavaApplication20/nbproject/private/
/Slide1.2/reajuste_salario/nbproject/private/
/Slide1.2/reajuste_salario/build/
/Slide1.2/Posto_gasolina/nbproject/private/
/Slide1.2/Posto_gasolina/build/
/Slide1.2/Quant_comprada_total/nbproject/private/
/Slide1.2/Quant_comprada_total/build/
/Slide1.2/retangulo_area_perim/nbproject/private/
/Slide1.2/retangulo_area_perim/build/
/Slide1.3/dobro_triplo/nbproject/private/
/Slide1.3/dobro_triplo/build/
/Slide1.3/Quadrado_do_primeiro/nbproject/private/
/Slide1.3/Quadrado_do_primeiro/build/
/Slide1.3/Loja_moveis/nbproject/private/
/Slide1.3/Loja_moveis/build/